* {
    margin: 0;
}

/* Style MENIU */
.meniu {
    overflow: hidden;
    /* border: 1px solid rgb(243, 0, 0); */
    background-color: #1b9c51;
    height: 56px;
}

/* SYLE LA BUTOANELE DIN MENIU */
.meniu button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    /* border: 1px solid rgb(243, 0, 0); */
    font-size: 25px;

}

/* HOVER BUTTON MENIU*/
.meniu button:hover {
    background-color: black;
    color: white;
    /* border: 1px solid rgb(243, 0, 0); */

}


.meniu button.active {
    background-color: black;
    color: white;
}

/* Continut */
/* .meniucontent {
} */

#Home {
    /* background-color: aquamarine; */
    background-image: url("./imagini/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 94vh;
    width: 100%;
    color: white;
}

#titlu-principal {
    text-align: center;
    margin-top: 5vh;
    text-decoration: overline;
    /* text-decoration: underline overline dotted #1b9c51; */
    text-decoration-color: #1b9c51;
}

/* .logo{
} */

/*hanorace*/
#hanorac1 {
    margin: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
}

#hanorac2 {
    margin: 30px;
    display: flex;
    justify-content: center;
}

#hanorac3 {
    margin: 30px;
    display: flex;
    justify-content: center;
}

.galerie {
    margin: 5px;
    width: 200px;
    height: auto;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(183, 183, 183);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

#hanorace {
    background-color: lightgreen;
}

#mingi {
    position: relative;
    width: 100vw;
    height: 94vh;
    background-image: url(./imagini/gazon.webp);
    opacity: 0.9;
}

#continut-mingi {
    position: absolute;
    width: 45vw;
    margin: 5vw;
    margin-left: 45vw;
    height: 60vh;
    text-align: center;
    border-style: double;
    border-width: 5px;
    border-color: white;
    border-radius: 100px;
    background-color: white;
}

#poza-minge {
    position: absolute;
    width: 30vw;
    margin: 5vw;
    margin-left: 10vw;
    height: 60vh;
    text-align: center;
    border-style: double;
    border-width: 5px;
    border-color: white;
    border-radius: 100px;
}

#minge3:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

/* Marius */

* {
    margin: 0;
    padding: 0;
}


.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(194, 249, 112, 0.6), rgba(194, 249, 112, 0.6)), url(C:/Users/drind/source/repos/Exemplu_1_HTM/imagini/sport.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    top: 0%;
}

nav {
    display: flex;
    padding: 0.5% 2%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}



.nav-links button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 5px;
    transition: 0.3s;
    font-size: 17px;
    border-radius: 20%;

}


.nav-links button:hover {
    background-color: rgb(15, 91, 40);
    color: white;
    border-radius: 20%;


}


.nav-links button.active {
    background-color: rgb(15, 91, 40);
    color: white;
}

.row {
    margin-top: 5%;
    justify-content: space-between;
    display: flex;

}

.col {
    flex-basis: 31%;
    padding: 20px 12px;
    text-align: center;
}

.col img {
    width: 350px;
    height: 400px;

}

.col img:hover {
    width: 370px;
    height: 420px;
    transition: 0.4s;
}

.col-text {
    flex-basis: 31%;
    background: rgba(73, 211, 197, 0.429);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    text-align: center;
    color: transparent;
}

.col-text h3 {
    color: black;
}

.col-text:hover {
    color: black;
    transition: 0.3s;
}

.col-text:hover {
    background: #fff;
    transition: 0.3s;

}

/* ionut
*/

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gheteadidas {
    font-size: 1.5em;
}

#adidas {
    text-align: center;
}

#puma {
    text-align: center;
}

.ghetepuma {
    font-size: 1.5em;
}

